<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.njk' %}
  </head>
  <body class="font-sans text-18 transition ease-out-quint duration-500 opacity-0">
    <div id="root">
      {% include 'header.njk' %}
      <main data-router-wrapper>
        {{ content | safe }}
      </main>
      <div class="pointer-events-none js-scroll-proxy"></div>
    </div>
    <script src="/app.js"></script>
  </body>
</html>