<header class="flex justify-between p-10 border-b-2 text-24">
  <a class="inline-block p-5" href="/">Sane Eleventy</a>
  <nav>
    <a class="inline-block p-5" href="/">Home</a>
    <a class="inline-block p-5" href="/about/" a-transition="test">About</a>
  </nav>
</header>