<!DOCTYPE html>
<html lang="en">

  <head>
    {% include 'head.njk' %}
  </head>

  <body class="sans f18">

    <div id="root">

      {% include 'header.njk' %}

      <main data-router-wrapper>
        {{ content | safe }}
      </main>

    </div>

    <script src="{% webpackAsset 'main.js' %}"></script>

  </body>
</html>