<!DOCTYPE html>
<html lang="en">

  <head>
    {% include head %}
  </head>

  <body class="sans f18">

    <div id="root">

      {% include header %}

      <main data-router-wrapper>
        {{ content }}
      </main>

    </div>

    <script src="{% webpackAsset 'main.js' %}"></script>

  </body>
</html>