<header class="f jcb p10 bb bw1 f18">
  <a href="/" class="dib p5 ttu fw700">Sane Eleventy</a>
  <nav>
    <a class="dib p5" href="/">Home</a>
    <a class="dib p5" href="/about/">About</a>
  </nav>
</header>