@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: 'Sneak';
    src: url('../assets/fonts/Sneak-Regular.woff') format('woff'),
      url('../assets/fonts/Sneak-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  } */

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html,
  body {
    overscroll-behavior: none;
  }

  html {
    font-size: 10px;
  }

  body {
    font-size: 1.6rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  [a-page] {
    opacity: 0;
  }
}

@layer utilities {
  .no-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
